@charset "UTF-8";

*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}


/*=========main_top====================*/

#main_top{
  width:100%;
  position: fixed;
  background-color: white;
}
.top_wrap{
  width: 950px;
  margin: auto;
}
.welcome{
	font-size: 14px;
    text-align: right;
    margin: 10px;
}
.logout{
	text-decoration: underline;
}
.logo_top{
  margin: 50px 0;
  height: 30px;
}
.logo_top input{
  height: 30px;
  width: 400px;
  padding-left: 5px;
  border: 1px solid black;
}
.logo_img{
  font-size: 30px;
  font-weight: bold;
  width: 80px;
  float: left;
  font-family: 'Poiret One', cursive;
}
.SearchBox{
  width: 430px;
  margin-left: 20%;
  float: left;
}
.SearchBox i{
  margin-right: 5px;
}
.icon_group{
  width: 250px;
  text-align: right;
  float: left;
  color: #424242;
}
.icon_group i{
  font-size: 30px;
  padding: 0 10px;
}
.category{
  border-top: solid 1px darkgray;
  border-bottom: solid 2px darkgray;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  display: block;
}
.category span{
  margin: 0 70px;
  line-height: 46px;
}
.SearchBox button {
	background-image : url('/img/search.png'); 
    background-position:top right; 
    background-repeat:no-repeat;	
}
/*=========main_bottom====================*/

#main_bottom{
  padding-top: 210px;
}
.shopMainImg{
  width: 950px;
  height: auto;
  margin: 10px auto;
}
.shopMainImg img{
  width: 100%;
  height: 500px;
  margin: auto;
}
.best, .new{
  height: auto;
}
.best_product_title, .new_product_title{
  text-align: center;
  border-bottom: 1px solid darkgray;
  margin: 0 auto 20px auto;
  width : 80% !important;
}
.best_product_img, .new_product_img{
  width: 950px;
  text-align: center;
  margin: auto;
}
.best img, .new img{
  width: 200px;
  height: auto;
  margin: 0 10px 10px 10px;
}
.product_info{
  width: 220px;
  height: 150px;
}
.product_title{
  border-bottom: 1px solid darkgray;
  display: inline;
  float: left;
  width: 100%;
  height: auto;
  text-align: left;
  padding: 0 0 5px 10px;
}
.product_price{
  text-align: left;
  padding-left: 10px;
  font-size: 13px;
  font-weight: bold;
}
.product_detail{
  text-align: left;
  font-size: 12px;
  padding: 0 10px;
}
.img_border{
  display: inline-table;
  height:auto;
}
.click{
	cursor: pointer;
}
/*=========side====================*/

.side{

  top: 250px;
  right: 1px;
  position: fixed;
  background-color: #dadada;
  opacity: 0.9;
}
.border{
  border: 1px solid #dadada;
  margin-top: 0px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}





/*=========footer====================*/
#footer{
	text-align: center;
    height: 100px;
    background: #E6E6E6;
    text-align: 50px;
    font-size: 13px;
    padding: 40px;
}