@charset "UTF-8";

*{
  box-sizing: border-box;
}
html, body{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}


/*=========main_top====================*/

#main_top{
  width:100%;
  position: fixed;
  background-color: white;
}
.top_wrap{
  width: 950px;
  margin: auto;
}
.welcome{
	font-size: 14px;
    text-align: right;
    margin: 10px;
}
.logout{
	text-decoration: underline;
}
.logo_top{
  margin: 50px 0;
  height: 30px;
}
.logo_top input{
  height: 30px;
  width: 400px;
  padding-left: 5px;
  border: 1px solid black;
}
.logo_img{
	font-size: 30px;
	font-weight: bold;
	width: 80px;
	float: left;
	font-family: 'Poiret One', cursive;
}
.SearchBox{
	width: 430px;
	margin-left: 20%;
	float: left;
}
.SearchBox i{
	margin-right: 5px;
}
.icon_group{
	width: 250px;
	text-align: right;
	float: left;
	color: #424242;
}
.icon_group i{
 	font-size: 30px;
	padding: 0 10px;
}
.category{
	border-top: solid 1px darkgray;
	border-bottom: solid 2px darkgray;
	height: 50px;
 	font-size: 15px;
	font-weight: bold;
	text-align: center;
	display: block;
}
.category span{
	margin: 0 70px;
	line-height: 46px;
}

/*=========main_bottom====================*/

#main_bottom{
	padding-top: 210px;
}
.mypage {
	width: 100%;
	margin: 0;
}
.mypage_title{
	text-align: center;
	margin: 0;
	height: 50px;
	line-height: 50px;
	background-color: #E6E6E6;
}
.mypage_info{
	width: 950px;
	height : 500px;
	margin: 20px auto;
}
.mypage_2 {
	width : 465px;
	float : left;
	line-height : 20px;
	margin-left : 10px;
}
.mypage_3 {
	width : 460px;
	float : right;
	line-height : 20px;
	margin-left : 10px;
}
table {	
	border: 1px solid black;
	border-spacing: 7px;  
	border-radius : 2px;	
	margin-right : auto;
	margin-left : auto;
}
caption {
	font-size : 20px;
	font-weight : bold;
}
.mypage_2 caption {
	margin-top : 5px;
}
td {
	color : black;
	font-size : 15px;
	margin : 0 auto;
	text-align : center;
}
.button{
	text-align: center;
	margin-bottom: 20px;
}
.button button, .write{
	background-color: #424242;
	color: white;
	height: 30px;
	width: 100px;
}

#pageContainer {
	margin-top: 30px;
	float : right;
	margin-right : 170px;
	display : block;
	justify-content: center;
}
#pageContainer span {
	color: #3498db;
	margin-left : 40px;
}





/*=========side====================*/

.side{

  top: 250px;
  right: 1px;
  position: fixed;
  background-color: #dadada;
  opacity: 0.9;
}
.border{
  border: 1px solid #dadada;
  margin-top: 0px;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}






/*=========footer====================*/
#footer{
	text-align: center;
    height: 100px;
    background: #E6E6E6;
    text-align: 50px;
    font-size: 13px;
    padding: 40px;
}